$accent: #905DCC;

$mockup_border: 1px solid #000000;

.primaryBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: stretch;
  align-items: center;
  gap: 8px;
  height: 44px;
  flex-basis: content;
  padding: 10px 30px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: $accent;
}

.text {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

.iconBody {
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  border: $mockup_border;
}