$text_primary: #565656;
$accent: #905DCC;

$avatarImgSize: 150px;


$mockup_border: 1px solid #ff9c9c;


.profileBox {
  display: flex;
  flex-direction: row;
  width: 1156px;

  padding: 0;
}

.avatarBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.avatarImg {
  width: $avatarImgSize;
  height: $avatarImgSize;
}

.mainInfoBox{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0 20px 20px;
  gap: 10px;
  height: 190px;

  align-self: stretch;
  flex-grow: 1;
}

.row1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0;
  gap: 40px;
}

.row2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 20px;

}

.row3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 0 0;
  gap: 10px;
}

.statistics {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 20px;
}

.header2 {
  font-family: 'Roboto', sans-serif;
}

.nickname {
  display: flex;
  justify-self: flex-start;
  word-break: break-all;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: $text_primary;
}

.infoBox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0;
  padding: 0 0 20px 20px;
}

.stats_box {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.stats_box_subs {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: baseline;
}

.stats_text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: $accent;
}

.stats_icon_box {
  width: 18px;
  height: 18px;
  display: flex;
}

.description {
  text-align: left;
}

.buttonsArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}