.setupProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setupSettings {

}

.setupFavourites {

}

.setupChamber {
  display: flex;
  flex-direction: column;
  align-items: center;
}